<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AcVis</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="/public/css/homePage.css">
    <link rel="icon" href="../resources/homePageIcon.png" type="image/png">
    <link rel="photos" href="../public/resources">
    <script src="../public/js/filter.js" defer></script>
    <script src="./App/homePage.js" defer></script>
    <script src="/public/js/getMovieDetails.js" defer></script>
</head>

<body>
    <div class="wrapper">
        <div class="centrat text-container"> </div>
        <div class="top-menu">
            <div class="filter-button"><i class="fas fa-filter"></i>
                <div id="filterBox" class="filterBox">
                    <a href="statisticsPage.html"><ul><li>Awards</li></ul></a>
                    <a href="statisticsPage.html"><ul><li>Movies</li></ul></a>
                    <a href="statisticsPage.html"><ul><li>TV Series</li></ul></a>
                    <a href="statisticsPage.html"><ul><li>Category</li></ul></a>
                   
                </div>
            </div>
            <div class="search-button"><i class="fas fa-search"></i>
                <div id="searchBox" class="searchBox">
                    <input type="text" placeholder="Search...">
                </div>
            </div>
            <div class="account-button"><a href="login.html"><i class="fas fa-user"></i></a></div>
        </div>
    </div>
    <div class="container">
        <div class="logoActors1">
            <a href="actorProfile.html">
                <div class="logoCaption">Joaquin Phoenix-2020 Winner Oscar. Best Performance by an Actor in a Leading
                    Role. Joker.
                    <div class="infoBox">
                        Joaquin Rafael Phoenix is an American actor.
                        Known for playing dark, unconventional and eccentric characters in films, in particular period
                        dramas, he has received various accolades,
                        including an Academy Award, a British Academy Film Award,
                        a Grammy Award, and two Golden Globe Awards.
                        In 2020, The New York Times named him one of the greatest actors of the 21st century.
                    </div>
                </div>
            </a>
        </div>
    </div>
    <a href="statisticsPage.html">
        <div class="movie1Container">
            <h1>Movie</h1>
            <div class="infoBox">
                <h1>Actors</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est
                    laborum.
                </p>

            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.
            </p>
        </div>
    </a>
    <a href="statisticsPage.html">
        <div class="movie2Container">
            <h1>
                Movie
            </h1>
            <div class="infoBox">
                <h1>Actors</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est
                    laborum.</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in cul
            </p>
        </div>
    </a>
    <div class="container">
        <div class="logoActors2">
            <a href="actorProfile.html">
                <div class="logoCaption">Steven Yeun - 2024. Best Performance by an Actor in a Leading Role in a limited
                    series or movie.Beef.
                    <div class="infoBox">
                        Yeun Sang-Yeop, known professionally as Steven Yeun, is an American actor.
                        Yeun initially rose to prominence for playing Glenn Rhee in the television series The Walking
                        Dead (2010–2016)

                    </div>
                </div>
            </a>
        </div>
    </div>
    <a href="statisticsPage.html">
        <div class="movie3Container">
            <h1>TV Serie</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.
            </p>
            <div class="infoBox">
                <h1>Actors</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est
                    laborum.</p>
            </div>
        </div>
    </a>
    <div class="container">
        <div class="logoActors3">
            <a href="actorProfile.html">
                <div class="logoCaption">Kôji Yakusho - 2023. Best Performance by an Actor in a Leading Role. Perfect
                    Days.
                    <div class="infoBox">
                        Kōji Hashimoto , known professionally as Kōji Yakusho, is a Japanese actor. He is known
                        internationally for his starring roles in
                        Shall We Dance? (1996), 13 Assassins (2010), The Third Murder (2017), The Blood of Wolves
                        (2018), Under the Open Sky (2020) and The Days (2023)
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="filler"></div>
    <div class="containerTitle">
        <hr>
        <h1>More Actors</h1>
       <a href=""><p>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p></a> 
    </div>
    <div class="actorsTable" id="actorsTable">
        <div class="actorsLine">
            <a href="actorProfile.html">
                <div class="actorCircle angelina"></div>
            </a>
            <a href="actorProfile.html">
                <div class="actorCircle leo"></div>
            </a>
            <a href="actorProfile.html">
                <div class="actorCircle kate"></div>
            </a>
            <a href="actorProfile.html">
                <div class="actorCircle cillian"></div>
            </a>
            <a href="actorProfile.html">
                <div class="actorCircle johnny"></div>
            </a>
            <a href="actorProfile.html">
                <div class="actorCircle brad"></div>
            </a>
            <a href="actorProfile.html">
                <div class="actorCircle zendaya"></div>
            </a>
            <a href="actorProfile.html">
                <div class="actorCircle robert"></div>
            </a>
            <a href="actorProfile.html">
                <div class="actorCircle sandra"></div>
            </a>
        </div>
    </div>
    <div class="more" id="moreButton"> <a href="#">MORE </a> </div>
        <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler1"></div>

    <script src="../public/js/moreButton.js"> </script>
    <script src="/public/js/homePage.js" defer></script>
    <script src="/public/js/moreButton.js" defer></script>
    <script type="module" src="/public/js/getMovieDetails.js"></script>
    <script >
        let searchBar = document.querySelector('.search-button input');
        
  
        searchBar.addEventListener('input', function() {
       
            let searchTerm = this.value.toLowerCase();
        
            let containers = document.querySelectorAll('.container');
       
            containers.forEach(function(container) {
         t
                let containerText = container.textContent.toLowerCase();
        
                if (containerText.includes(searchTerm)) {
                  
                    container.style.display = '';
                } else {
                 
                    container.style.display = 'none';
                }
            });
        });
        const movieName = 'The Walking Dead';

fetch(`https://api.themoviedb.org/3/search/movie?api_key=524b8acb224e3bc712c2c9b11ddeca4e&query=${encodeURIComponent(movieName)}`)
.then(response => response.json())
.then(data => {
    if (data.results && data.results.length > 0) {
        const movieTitle = data.results[0].title;
        const movieOverview = data.results[0].overview;

        const movieContainer = document.querySelector('.movie2Container');

        movieContainer.innerHTML = `
            <h1>${movieTitle}</h1>
            <p>${movieOverview}</p>
        `;
    } else {
        console.log('Filmul nu a fost găsit');
    }
})
.catch(error => console.error('Error:', error));

const movieName1 = 'Joker';

fetch(`https://api.themoviedb.org/3/search/movie?api_key=524b8acb224e3bc712c2c9b11ddeca4e&query=${encodeURIComponent(movieName1)}`)
.then(response => response.json())
.then(data => {
    if (data.results && data.results.length > 0) {
        const movieTitle = data.results[0].title;
        const movieOverview = data.results[0].overview;

        const movieContainer = document.querySelector('.movie1Container');

        movieContainer.innerHTML = `
            <h1>${movieTitle}</h1>
            <p>${movieOverview}</p>
        `;
    } else {
        console.log('Filmul nu a fost găsit');
    }
})
.catch(error => console.error('Error:', error));


const movieName3 = 'Stranger Things';

fetch(`https://api.themoviedb.org/3/search/movie?api_key=524b8acb224e3bc712c2c9b11ddeca4e&query=${encodeURIComponent(movieName3)}`)
.then(response => response.json())
.then(data => {
    if (data.results && data.results.length > 0) {
        const movieTitle = data.results[0].title;
        const movieOverview = data.results[0].overview;

        const movieContainer = document.querySelector('.movie3Container');

        movieContainer.innerHTML = `
            <h1>${movieTitle}</h1>
            <p>${movieOverview}</p>
        `;
    } else {
        console.log('Filmul nu a fost găsit');
    }
})
.catch(error => console.error('Error:', error));
    </script>
</body>

</html>