<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Welcome</title>
</head>

<body>
    <main>
        <form id="registerForm">
            <h1>Sign Up</h1>
            <div>
                <label for="username"></label>
                <input type="text" name="username" id="username" placeholder="Username">
            </div>
            <div>
                <label for="password"></label>
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <div>
                <label for="confirmPassword"></label>
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
            </div>
            <div>
                <label for="email"></label>
                <input type="email" name="email" id="email" placeholder="E-mail">
            </div>
            <button type="submit">Sign Up</button>
            <footer>Already have an account? <a href="login.html">Login</a></footer>
        </form>
        <div id="message"></div>
    </main>
    <script>
        document.getElementById('registerForm').addEventListener('submit', function (event) {
            event.preventDefault();

            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;
            var confirmPassword = document.getElementById('confirmPassword').value;
            var email = document.getElementById('email').value;

            fetch('/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    username: username,
                    password: password,
                    confirmPassword: confirmPassword,
                    email: email
                }),
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('message').textContent = data.message;
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        });
    </script>
</body>

</html>