
        body {
            background-color: #1a1b1c;
            background-size: cover;
            background-attachment: fixed;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        .top-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            background-color: #ffffff;
            padding: 10px;
            border-radius: 10px;
        }

        .top-menu div {
            background-color: transparent;
            padding: 10px;
            border-radius: 50%;
        }

        .top-menu div:hover {
            background-color: #7c8388;
        }

        .top-menu div i {
            font-size: 24px;
        }

        .profile {
            display: flex;
            align-items: center;
            position: relative;
        }

        .profile img {
            width: 200px;
            height: 200px;
            
            margin-right: 20px;
        }

        .profile-info {
            background-color: rgb(255, 255, 255);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        .profile h1 {
            font-size: 24px;
            margin: 0;
        }

        .profile p {
            font-size: 16px;
            margin: 10px 0;
        }

        .download-button {
            border-radius: 50%;
            border: none;
            background-color: #1a1b1c;
            color: white;
            padding: 10px 10px;
            font-size: 10px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            outline: none;
        }
        
        .download-button:hover {
            background-color: #3a4754;
        }
        
        .download-button i {
            margin-right: 5px;
        }

        .movies {
            margin-top: 20px;
        }

        .movies h2 {
            font-size: 20px;
            color: #ffffff;
            margin: 0;
        }

        .movies ul {
            list-style: none;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            grid-gap: 10px;
        }
        

        .movies li {
            font-size: 16px;
        }

        .movies img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            transition: filter 0.3s ease;
        }

        .movies img:hover {
            filter: hue-rotate(180deg);
        }

        a{
            text-decoration: none;
            color: black;
        }

        .fade {
            transition: opacity 0.5s;
        }
        
        .fade:hover {
            opacity: 0.5;
        }

        .categories {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .category-button {
            flex: 0 0 30%;
            background-color:#b08400;
            border: none;
            color: white;
            padding: 10px 10px;
            text-align: center;
            text-decoration: none;
            border-radius: 10px;
            font-size:8px;
            font-weight: bold;
            margin:4px auto;
            cursor: pointer;
            transition-duration: 0.4s;
        }
        
        .category-button:hover {
            background-color: white; 
            color: black; 
            border: 2px solid #b08400;
        }
        .years {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            height: 100px; /* Adjust this value to show the number of buttons you want */
            overflow: hidden;
            transition: height 0.5s ease-in-out; /* Optional: add a transition for a smooth height change */
        }
        
        .years .category-button {
            flex: 1 0 20%;
            margin: 5px;
            box-sizing: border-box;
        }
        #moreButton {
            background-color:#b08400;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            border-radius: 10px;
            display: block;
            font-size: 16px;
            margin:10px auto;
            cursor: pointer;
            transition-duration: 0.4s;
        }
        
        #moreButton:hover {
            background-color: white; 
            color: black; 
            border: 2px solid #b08400;
        }
        @media screen and (max-width: 480px) {
            .container {
                max-width: 90%;
                padding: 10px;
            }

            .profile {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }

            .profile img {
                width: 150px;
                height: 150px;
                margin-right: 0;
                margin-bottom: 10px;
            }
        }

        @media screen and (min-width: 481px) and (max-width: 1200px) {
            .container {
                max-width: 90%;
                padding: 10px;
            }
            .profile {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }

            .profile img {
                width: 150px;
                height: 150px;
                margin-right: 0;
                margin-bottom: 10px;
            }
        }

        @media screen and (min-width: 1201px) {
            .container {
                max-width: 1200px;
                padding: 20px;
            }
        }
